@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: #f9fafb;
	--color-gray-100: #f3f4f6;
	--color-gray-200: #e5e7eb;
	--color-gray-300: #d1d5db;
	--color-gray-400: #9ca3af;
	--color-gray-500: #6b7280;
	--color-gray-600: #4b5563;
	--color-gray-700: #374151;
	--color-gray-800: #1f2937;
	--color-gray-900: #111827;
	--color-gray-950: #030712;

	--color-fabric-dark: #0B1221;
	--color-fabric-blue: #DCE6F9;
	--color-fabric-blue-dark: #C5D4F0;
	--color-fabric-pink: #FCE7E1;
	--color-fabric-peach: #FDBA9F;
	--color-fabric-green: #6B8E76;
	--color-fabric-green-dark: #55725E;
	--color-fabric-accent: #2563EB;

	--font-sans: "Inter", sans-serif;
	--font-serif: "Domine", serif;
}

@layer base {
	body {
		@apply font-sans text-fabric-dark antialiased;
	}
	h1, h2, h3, h4, h5, h6 {
		@apply font-serif;
	}
}
